// 
//  Grid
//  ---------------------------------


.aside,
.aside .outer {
  background: $aside-background;
}

.aside {
  color: $aside-color;
  padding-top: 15px;
  padding-bottom: 15px;
  
  .two-column .inner {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  
  h5 {
    Margin-bottom: 0;
  }
}