// 
//  Header
//  ---------------------------------


// Header
//---------------------
.header {
  Margin-bottom: 0px;
}


// Header Bar
//---------------------

.header-bar,
.header-bar .outer {
  background: $aside-background;
}

.header-bar {
  border-top: 2px solid darken($aside-background, 17%);
  border-bottom: 2px solid darken($aside-background, 17%);
  
  a {
    color: $text-color;
  }

  .inner {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .contents {
    font-size: $font-size-base + 1;
  }
}

.header-date {
  text-align: right;
}

.header-social {
  line-height: 1;
  
  img {
    width: 24px;
    Margin-right: 4px;
  }
}

@media screen and(max-width: $screen-sm) {
  .header-social,
  .header-date {
    text-align: center !important;
  }
  
  .header-social {
    padding-top: 0 !important;
    
    img {
      Margin-left: 2px !important;
      Margin-right: 2px !important;
    }
  }
  
  .header-date {
    padding-bottom: 5px !important;
  }
}