// 
//  Section
//  ---------------------------------


.section {
  
  .two-column .inner {
    padding-top: 0px;
    padding-bottom: 25px;
  }
  
  h5 {
    Margin-bottom: 0;
    
    a {
      color: $text-color;
    }
  }
}

.section-hr {
  border-top: 1px dashed #cccccc;
  padding-top: 15px;
}

.section-header {
  padding-bottom: 20px;
  
  h4 {
    Margin-bottom: 0;
    
    a {
      color: $text-color;
    }
  }
}

.section-list ul {
  padding-left: 15px;
  Margin-bottom: 0;

  @media screen and(max-width: $screen-sm) {
    padding-top: 25px !important;
    padding-left: 25px !important;
  }
}

.section-quote,
.section-quote .outer {
  background-color: $aside-background;
}

.section-quote {
  h4 {
    Margin-bottom: 25px;
    
    a {
      color: $text-color;
    }
  }
  blockquote {
    font-size: floor($font-size-base * 1.3);
    text-align: center;
    Margin: 0;
    Margin-bottom: $line-height-computed;
    text-align: left;
  }
}
.section-quote--author {
  Margin-bottom: $line-height-computed;
  font-size: floor($font-size-base * .8);
  text-transform: uppercase;
}