// 
//  Variables
//  ---------------------------------


// Base colors
//---------------------

$base-background: #ffffff;
$base-border: darken($base-background, 5%);
$content-background: #ffffff;
$text-color: #444444;
$heading-color: #333333;
$primary-color: #700429;
$meta-color: lighten($text-color, 18%);
$link-color: $primary-color;

// Aside colors
//---------------------

$aside-background: #f5f5f5;
$aside-color: lighten($text-color, 10%);


// Button colors
//---------------------

$btn-background: $primary-color;
$btn-color: #ffffff;
$btn-secondary-background: $aside-background;
$btn-secondary-border: darken($btn-secondary-background, 30%);
$btn-secondary-color: lighten($text-color, 7%);


// Footer colors
//---------------------

$footer-color: $text-color;
$footer-nav-background: #5b6f7b;
$footer-nav-color: #ffffff;
$footer-nav-link-color: $footer-nav-color;


// Fonts
//---------------------

$base-font: 'Open Sans', Arial, sans-serif;
$font-weight-base: normal;
$font-weight-bold: bold;
$font-size-base: 15px;
$line-height-base: 1.6;
$line-height-large: 1.2;
$line-height-computed: floor($font-size-base * $line-height-base);


// Media Queries
//---------------------

$screen-sm: 460px;
$screen-xs: 375px;
