/* line 6, ../scss/_reset.scss */
body {
  Margin: 0;
  padding: 0;
  min-width: 100%;
  background-color: #ffffff;
}

/* line 13, ../scss/_reset.scss */
table {
  border-spacing: 0;
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
}

/* line 19, ../scss/_reset.scss */
td {
  padding: 0;
}

/* line 23, ../scss/_reset.scss */
.wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background: #ffffff;
  Margin-bottom: 25px;
}

/* line 32, ../scss/_reset.scss */
.webkit {
  max-width: 600px;
}

/* line 36, ../scss/_reset.scss */
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
  background: #ffffff;
}

/* line 43, ../scss/_reset.scss */
.inner {
  padding: 25px 15px;
}

/* line 47, ../scss/_reset.scss */
.contents {
  width: 100%;
}

/* line 51, ../scss/_reset.scss */
p {
  Margin: 0;
}

/* line 9, ../scss/_scaffolding.scss */
a {
  text-decoration: none;
  color: #900028;
}

/* line 14, ../scss/_scaffolding.scss */
.textlink {
  color: #444444;
}

/* line 22, ../scss/_scaffolding.scss */
img {
  outline: none;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  border: 0;
}
/* line 28, ../scss/_scaffolding.scss */
a img {
  border: 0;
}

/* line 33, ../scss/_scaffolding.scss */
.img_fix {
  display: block;
}

/* line 37, ../scss/_scaffolding.scss */
.full-width-image {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 40, ../scss/_scaffolding.scss */
.full-width-image img {
  width: 100%;
  max-width: 570px;
  height: auto;
}

/* line 50, ../scss/_scaffolding.scss */
.contents {
  color: #444444;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.6;
  font-weight: normal;
  font-size: 15px;
  text-align: left;
}

/* line 63, ../scss/_scaffolding.scss */
.preheader {
  font-size: 11px;
  color: #727272;
  text-align: center;
  padding-bottom: 0px;
}

/* line 9, ../scss/_grid.scss */
.two-column,
.three-column,
.five-column,
.sixtyfourty-column,
.sidebar {
  font-size: 0;
  text-align: center;
}
/* line 17, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.five-column .column,
.five-column .column-2,
.five-column .column-sixty,
.five-column .column-fourty,
.sixtyfourty-column .column,
.sixtyfourty-column .column-2,
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-fourty,
.sidebar .column,
.sidebar .column-2,
.sidebar .column-sixty,
.sidebar .column-fourty {
  width: 100%;
  display: inline-block;
}
/* line 25, ../scss/_grid.scss */
.two-column img,
.three-column img,
.five-column img,
.sixtyfourty-column img,
.sidebar img {
  width: 100%;
  height: auto;
}

/* line 36, ../scss/_grid.scss */
.two-column .column,
.two-column .column-2,
.two-column .column-sixty,
.two-column .column-fourty,
.three-column .column,
.three-column .column-2,
.three-column .column-sixty,
.three-column .column-fourty,
.five-column .column,
.five-column .column-2,
.five-column .column-sixty,
.five-column .column-fourty,
.sixtyfourty-column .column,
.sixtyfourty-column .column-2,
.sixtyfourty-column .column-sixty,
.sixtyfourty-column .column-fourty {
  vertical-align: top;
}
/* line 43, ../scss/_grid.scss */
.two-column .text,
.three-column .text,
.five-column .text,
.sixtyfourty-column .text {
  padding-top: 10px;
}

/* line 50, ../scss/_grid.scss */
.sidebar .column {
  vertical-align: middle;
}
/* line 54, ../scss/_grid.scss */
.sidebar img {
  max-width: 150px;
}

/* line 59, ../scss/_grid.scss */
.image {
  text-align: center;
}

/* line 69, ../scss/_grid.scss */
.two-column .column {
  max-width: 300px;
}
/* line 73, ../scss/_grid.scss */
.two-column img {
  max-width: 270px;
}

/* line 84, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty {
  max-width: 360px;
}
/* line 87, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty img {
  max-width: 330px;
}
/* line 91, ../scss/_grid.scss */
.sixtyfourty-column .column-sixty .inner td {
  width: 340px;
  max-width: 100%;
}
/* line 97, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty {
  max-width: 240px;
}
/* line 100, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty img {
  max-width: 210px;
}
/* line 104, ../scss/_grid.scss */
.sixtyfourty-column .column-fourty .inner td {
  width: 340px;
  max-width: 100%;
}

/* line 117, ../scss/_grid.scss */
.three-column .column {
  max-width: 200px;
}
/* line 120, ../scss/_grid.scss */
.three-column .column .contents {
  text-align: center;
}
/* line 125, ../scss/_grid.scss */
.three-column .column-2 {
  max-width: 400px;
}
/* line 129, ../scss/_grid.scss */
.three-column img {
  max-width: 170px;
}
/* line 133, ../scss/_grid.scss */
.three-column .column-2 img {
  max-width: 370px;
}

/* line 144, ../scss/_grid.scss */
.five-column .column {
  max-width: 120px;
}
/* line 147, ../scss/_grid.scss */
.five-column .column .contents {
  text-align: center;
}
/* line 152, ../scss/_grid.scss */
.five-column img {
  max-width: 90px;
}

/* line 163, ../scss/_grid.scss */
.sidebar .aside {
  max-width: 180px;
}
/* line 167, ../scss/_grid.scss */
.sidebar .aside-sm {
  max-width: 102px;
}
/* line 171, ../scss/_grid.scss */
.sidebar .main {
  max-width: 318px;
}

@media screen and (max-width: 460px) {
  /* line 186, ../scss/_grid.scss */
  .two-column .column,
  .two-column .column-2,
  .two-column .column-sixty,
  .two-column .column-fourty,
  .three-column .column,
  .three-column .column-2,
  .three-column .column-sixty,
  .three-column .column-fourty,
  .five-column .column,
  .five-column .column-2,
  .five-column .column-sixty,
  .five-column .column-fourty,
  .sixtyfourty-column .column,
  .sixtyfourty-column .column-2,
  .sixtyfourty-column .column-sixty,
  .sixtyfourty-column .column-fourty {
    max-width: 100% !important;
    display: table !important;
  }

  /* line 197, ../scss/_grid.scss */
  .one-column img,
  .two-column img,
  .three-column img {
    max-width: 100% !important;
  }

  /* line 204, ../scss/_grid.scss */
  .sixtyfourty-column .inner {
    width: 460px !important;
    max-width: 100% !important;
  }
  /* line 208, ../scss/_grid.scss */
  .sixtyfourty-column .inner td {
    width: 440px !important;
    max-width: 100% !important;
  }
  /* line 213, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty img {
    max-width: 100% !important;
  }
  /* line 217, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty img {
    max-width: 100% !important;
  }

  /* line 221, ../scss/_grid.scss */
  .sidebar .main {
    max-width: 100% !important;
    display: table !important;
  }
  /* line 225, ../scss/_grid.scss */
  .sidebar .main .contents {
    text-align: center !important;
  }

  /* line 229, ../scss/_grid.scss */
  .image {
    padding-bottom: 0 !important;
  }
}
@media screen and (min-width: 461px) and (max-width: 620px) {
  /* line 237, ../scss/_grid.scss */
  .sixtyfourty-column .column-sixty {
    max-width: 60% !important;
  }
  /* line 241, ../scss/_grid.scss */
  .sixtyfourty-column .column-fourty {
    max-width: 40% !important;
  }

  /* line 248, ../scss/_grid.scss */
  .three-column .column {
    max-width: 33% !important;
  }
  /* line 252, ../scss/_grid.scss */
  .three-column .column-2 {
    max-width: 67% !important;
  }

  /* line 257, ../scss/_grid.scss */
  .two-column .column {
    max-width: 50% !important;
  }

  /* line 261, ../scss/_grid.scss */
  .five-column .column {
    max-width: 20% !important;
  }

  /* line 265, ../scss/_grid.scss */
  .sidebar .aside {
    max-width: 30% !important;
  }

  /* line 269, ../scss/_grid.scss */
  .sidebar .aside-sm {
    max-width: 17% !important;
  }

  /* line 273, ../scss/_grid.scss */
  .sidebar .main {
    max-width: 53% !important;
  }
}
/* line 9, ../scss/_type.scss */
h1, h2, h3, h4, h5, h6 {
  Margin-top: 0;
  color: #333333;
  line-height: 1.2;
  font-weight: 600;
}
/* line 14, ../scss/_type.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
  color: #900028 !important;
}

/* line 20, ../scss/_type.scss */
h1, h2, h3 {
  Margin-bottom: 12px;
}

/* line 24, ../scss/_type.scss */
h4, h5, h6 {
  Margin-bottom: 12px;
}

/* line 28, ../scss/_type.scss */
h1 {
  font-size: 39px;
}

/* line 29, ../scss/_type.scss */
h2 {
  font-size: 32px;
}

/* line 30, ../scss/_type.scss */
h3 {
  font-size: 26px;
}

/* line 31, ../scss/_type.scss */
h4 {
  font-size: 19px;
}

/* line 32, ../scss/_type.scss */
h5 {
  font-size: 16px;
}

/* line 33, ../scss/_type.scss */
h6 {
  font-size: 13px;
}

/* line 39, ../scss/_type.scss */
p {
  padding: 0;
  Margin-bottom: 1.2em;
}

/* line 48, ../scss/_type.scss */
ul {
  margin: 0;
  Margin-bottom: 17px;
}

/* line 52, ../scss/_type.scss */
li {
  Margin-bottom: 7px;
}

/* line 60, ../scss/_type.scss */
.lead {
  font-size: 18px;
}
/* line 64, ../scss/_type.scss */
.lead h3 {
  font-size: 30px;
}

/* line 71, ../scss/_type.scss */
small {
  color: #777777;
  font-size: 85%;
}

/* line 8, ../scss/_header.scss */
.header {
  Margin-bottom: 0px;
}

/* line 16, ../scss/_header.scss */
.header-bar,
.header-bar .outer {
  background: #f5f5f5;
}

/* line 21, ../scss/_header.scss */
.header-bar {
  border-top: 2px solid #cacaca;
  border-bottom: 2px solid #cacaca;
}
/* line 25, ../scss/_header.scss */
.header-bar a {
  color: #444444;
}
/* line 29, ../scss/_header.scss */
.header-bar .inner {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 34, ../scss/_header.scss */
.header-bar .contents {
  font-size: 16px;
}

/* line 39, ../scss/_header.scss */
.header-date {
  text-align: right;
}

/* line 43, ../scss/_header.scss */
.header-social {
  line-height: 1;
}
/* line 46, ../scss/_header.scss */
.header-social img {
  width: 24px;
  Margin-right: 4px;
}

@media screen and (max-width: 460px) {
  /* line 53, ../scss/_header.scss */
  .header-social,
  .header-date {
    text-align: center !important;
  }

  /* line 58, ../scss/_header.scss */
  .header-social {
    padding-top: 0 !important;
  }
  /* line 61, ../scss/_header.scss */
  .header-social img {
    Margin-left: 2px !important;
    Margin-right: 2px !important;
  }

  /* line 67, ../scss/_header.scss */
  .header-date {
    padding-bottom: 5px !important;
  }
}
/* line 6, ../scss/_aside.scss */
.aside,
.aside .outer {
  background: #f5f5f5;
}

/* line 11, ../scss/_aside.scss */
.aside {
  color: #444444;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 16, ../scss/_aside.scss */
.aside .two-column .inner {
  padding-top: 10px;
  padding-bottom: 15px;
}
/* line 21, ../scss/_aside.scss */
.aside h5 {
  Margin-bottom: 0;
}
